.staff-records {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__header {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &__btn-add {
    height: 52px;
  }

  &__title {
    font: var(--font-heading);
  }

  &__row-container:not(:last-child) {
    margin-bottom: 8px;
    overflow: hidden;
  }
}
