.document-form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  &__field {
    display: grid;
    align-items: center;
    column-gap: 8px;
    grid-template-columns: 200px auto;
  }

  &__input {
    transition: padding var(--duration);

    &:disabled {
      padding-inline: 0;
      border-color: transparent;
    }
  }

  &_theme {
    &_default {
      input[type='date'] {
        width: max-content;
      }
    }

    &_passport {
      display: grid;
      column-gap: 32px;
      grid-template-columns: 1fr 1fr;

      .document-form {
        &__label {
          padding-left: 4px;
          border-bottom: 3px solid var(--color-border-light);
        }
      }
    }
  }
}
