.record-documents {
  height: 0;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border-light);
  border-radius: var(--radius);
  opacity: 0;
  border-left-width: 4px;

  &_active {
    border-left-color: var(--color-green);
  }

  &__select-panel {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-block: 12px;
    display: flex;
    column-gap: 8px;
    background-color: var(--color-blank);
  }

  &__select {
    &:disabled {
      background-color: var(--color-bg-inactive);
    }

    option[data-active='true'] {
      background-color: var(--color-green-ghost);
    }
  }

  &__select-controls {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }

  &__content {
    padding-block: 16px 32px;
  }

  &__buttons {
    margin-top: auto;
    padding-bottom: 12px;
    display: flex;
    column-gap: 8px;
  }
}
