.record-row {
  padding: 6px 8px 6px 16px;
  display: grid;
  align-items: center;
  column-gap: 16px;
  grid-template-columns: 32px 160px 1fr auto auto;
  overflow: hidden;
  border: var(--record-row-border, 1px solid var(--color-border-light));
  border-radius: var(--radius);
  opacity: 1;
  transition: var(--duration);

  &_invalid {
    @starting-style {
      opacity: 0;
      transform: translateY(-20px);
    }
  }

  &_header {
    --record-row-border: none;

    margin-bottom: 8px;
    font: var(--font-body-s);
    color: var(--color-text-light);
  }

  &__title {
    &:last-child {
      grid-column: span 3;
    }
  }

  &__id {
    color: var(--color-text-light);
  }

  &__input {
    transition: padding var(--duration);

    &:disabled {
      padding-inline: 0;
      border-color: transparent;

      &::placeholder {
        color: transparent;
      }
    }
  }

  &__btn-docs {
    min-width: 110px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    font: var(--font-body-xs);
    text-decoration: underline dashed;
    color: var(--color-green-dark);

    &:disabled {
      opacity: 0.3;
    }

    &_empty {
      color: var(--color-text-light);
    }
  }

  &__btn-docs-icon {
    [aria-expanded='true'] & {
      transform: rotate(90deg);
    }
  }

  &__controls {
    display: flex;
    column-gap: 4px;
  }
}
